<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier Scwach</title>
    <link rel="icon" type="image/avif" href="../image/logo.avif">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header class="netflix-header">
     

    <nav>
        <img src="../image/logo.avif" alt="DOSSIRE SCHWACH" class="logo">
        <div class="nav-right">
            <a href="../templates/equipe.html" class="btn-team">
                <i class="fas fa-users"></i> Équipe
            </a>
            <a href="../templates/auth.html" class="btn-signin">
                <i class="fas fa-user"></i> S'identifier
            </a>
        </div>
    </nav>
</header>
    <main>
        <div class="hero">
            <video autoplay muted loop playsinline class="hero-video">
                <source src="../video/ba.mov">
                Votre navigateur ne supporte pas la vidéo.
            </video>
            
            <div class="hero-buttons">
                <a href="../pointandclick/index.html" class="btn-play"><i class="fas fa-play"></i> Run</a>
                <a href="../templates/info.html" class="btn-info">
    <i class="fas fa-info-circle"></i> Plus d'infos
</a>
            </div>
        </div>
        </main>
    </header>
    <footer class="netflix-footer">
        <div class="footer-3d-box">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="../image/logo1.png" alt="DOSSIER SCHWACH">
                    <p>L'équipe Anubis vous remercie pour votre soutien !</p>
                </div>
                
                <div class="footer-social">
                   <a href="https://www.instagram.com/dossier.schwach/" class="social-btn instagram-btn" target="_blank">
                    <span>Notre instagram: </span>   
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

                
                <div class="footer-contact">
                    <a href="https://fr.tipeee.com/dossier-schwach-court-metrage-ydays" class="contact-btn" target="_blank">
                        <i class="fas fa-envelope"></i>
                        <span>Faire un don</span>
                    </a>
                </div>
            </div>
            
            <div class="footer-copyright">
                <p>&copy; 2025 DOSSIER SCHWACH. Tous droits réservés.</p>
            </div>
        </div>
    </footer>
</body>
</html>