<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre Équipe</title>
    <link rel="icon" type="image/avif" href="../image/logo.avif">
    <link rel="stylesheet" href="../static/equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
   <header class="netflix-header">
    <nav>
        <img src="../image/logo.avif" alt="DOSSIER SCHWACH" class="logo">
        <div class="nav-right">
            <a href="/" class="btn-team">
                <i class="fas fa-home"></i> Accueil
            </a>
            <a href="/auth" class="btn-signin">
                <i class="fas fa-user"></i> S'identifier
            </a>
        </div>
    </nav>
</header>

    <section class="team-section">
        <h1>Notre équipe</h1>
        <div class="team-grid">
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/loic.jpg');"></div>
                <h3>Loïc Bier </h3>
                <p class="role">Chef de projet, Acteur principal, Développeur Web</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/rorodelgato/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
         
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/karl.jpg');"></div>
                <h3>Karl Martensen</h3>
                <p class="role">Acteur, Monteur, Cadreur</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/karl.mtsn/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/zoe.jpg');"></div>
                <h3>Zoe Michaely</h3>
                <p class="role">Scénariste, Monteuse</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/dionysos7.12/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/vic.jpg');"></div>
                <h3>Victor Munsch</h3>
                <p class="role">Acteur principal, Monteur, Ingénieur son</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/victor.msch/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/lou.jpg');"></div>
                <h3>Loane Miguel</h3>
                <p class="role">Acteur, Animateur 3D/2D</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/infernosartcorner/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/loane.jpg');"></div>
                <h3>Lyna Djellab </h3>
                <p class="role">Actrice, Animatrice 3D/2D</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/lyn_8507/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/julien.jpg');"></div>
                <h3>Julien Moulin</h3>
                <p class="role">Acteur, Animateur 3D/2D</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/toast_gobbler26/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/anas.jpg');"></div>
                <h3>Anas Elmouflih</h3>
                <p class="role">Acteur, Développeur Web</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/anas___em/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/julie.jpg');"></div>
                <h3>Julie Lefebvre</h3>
                <p class="role">Actrice, Développeuse Web</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/ju_wino/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/Carla.jpg');"></div>
                <h3>Carla Waha</h3>
                <p class="role">Actrice, Développeuse Web</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/carlawaha/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="team-card">
                <div class="team-img" style="background-image: url('../image/Louna.jpg');"></div>
                <h3>Louna Martins</h3>
                <p class="role">Actrice, Responsable communication</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/lounamrts/"target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            


            
        </div>

        <a href="/" class="back-btn">
            <i class="fas fa-arrow-left"></i> Retour à l'accueil
        </a>
    </section>

    <script src="../js/equipe.js"></script>
</body>
</html>